<div class="main-wrapper">
  <div class="status-wrapper">
      <h3>Character Points: {{wormStatus.characterPoints}}</h3>
      <h3>Shard Points: {{wormStatus.shardPoints}}</h3>
  </div>
  <div class="control-wrapper">
      <span (click)="selectedView=1">Powers</span> | <span (click)="selectedView=2">Perks and Flaws</span>
      <br/>
      -------------------------------------------------<br/><br/>
  </div>
  <div class="section-wrapper"><div *ngIf="selectedView==1">
      Powers (Available Slots: {{wormStatus.permittedShardCount}}):
      <app-shards [wormStatus]="wormStatus"></app-shards>
    </div>
    <div *ngIf="selectedView==2">
      Perks and Flaws (total of {{wormStatus.selectedPerkFlaws.length}}):
      <app-perkflaw [wormStatus]="wormStatus"></app-perkflaw>
    </div>
  </div>
</div>
