label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  .shards {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .selectedShardsList {
    margin-right: 10px;
    list-style-type: none;
    padding: 4px;
    width: 15em;
    background: #c44;
    border-radius: 3px;
  }

  .selectedShardsList:hover {
    background: rgb(209, 100, 100);
    cursor: pointer;
  }
  .selectedShardsListSelected, .selectedShardsListSelected:hover {
    background: rgb(114, 40, 5);
    cursor: pointer;
  }

  .addSlot:hover {
    background: rgb(49, 98, 190);
    cursor: pointer;
  }
  .addSlot {
    background:  rgb(32, 70, 141);
    cursor: pointer;
  }

  .shards li {
    position: relative;
    cursor: pointer;
    background-color: #444;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
   
  .shards li:hover {
    background-color: #555;
    left: .1em;
  }

  .shards .selectedShard, .shards .selectedShard:hover {
    background-color: #4ea56b;
  }

  .shards .selectedShardType {
    background-color: #acacac;
  }
   
  .shards a {
    color: #FFF;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
  }
   
  .shards a:hover {
    color:#607D8B;
  }
   
  .shards .badge {
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#b37b13;
    line-height: 1em;
    position: relative;
    top: -5px;
    height: 1.9em;
    min-width: 16px;
    float: right;
    border-radius: 0 4px 4px 0;
  }

  .shard-list{
    background-color: #888;
    border-radius: 4px 4px 4px 4px;
    right: 30px;
    margin: 5px;
  }
