<div class="container">
<div class="left-element shard-list">
        <ul class="shards">
            <li *ngFor="let shardType of shardTypes" [ngClass]="{'selectedShardType': shardTypes.indexOf(shardType)+1 == selectedShardType}" (click)="selectShardType(shardType)">
                {{shardType}}
            </li>
        </ul>
  </div>
  <div class="left-element shard-list">
      <ul class="shards">
          <li *ngFor="let shard of shards" [ngClass]="{'selectedShard': wormStatus.selectedShards.includes(shard.id)}" (click)="selectShard(shard)">
              {{shard.name}} <span class="badge">{{shard.pointCost}}</span>
          </li>
      </ul>
  </div>
  <app-shard-detail [wormStatus]="wormStatus" [selectedShard]="selectedShard"></app-shard-detail>
</div>

