<div class="shard-list">
    <span class="shard" *ngFor="let ss of wormStatus.selectedShards">
     <span [ngClass]="{'selectedShardsListSelected': (selectedShard != null ? (selectedShard.id == ss.id) : false)}" class="selectedShardsList" (click)="selectShard(getFullShard(ss.id))">{{getFullShard(ss.id).name}}</span>
    </span>
    <span class="addSlot selectedShardsList" *ngIf="wormStatus.permittedShardCount == 0" (click)="addSlot()">[Add Slot]</span>
    <span class="addSlot selectedShardsList" *ngIf="((wormStatus.permittedShardCount + wormStatus.selectedShards.length) > 3) && wormStatus.permittedShardCount >= 1" (click)="removeSlot()">[Remove Slot]</span>
</div>
<div class="container">
    <div class="left-element shard-list">
            <ul class="shards">
                <li *ngFor="let shardType of shardTypes" [ngClass]="{'selectedShardType': shardTypes.indexOf(shardType)+1 == selectedShardType}" (click)="selectShardType(shardType)">
                    {{shardType}}
                </li>
            </ul>
    </div>
    <div class="left-element shard-list">
        <ul class="shards">
            <li *ngFor="let shard of shards" [ngClass]="{'selectedShard': (selectedShard != null ? (selectedShard.id == shard.id) : false)}" (click)="selectShard(shard)">
                {{shard.name}} <span class="badge">{{shard.pointCost}}</span>
            </li>
        </ul>
    </div>
    <app-shard-detail [wormStatus]="wormStatus" [selectedShard]="selectedShard"></app-shard-detail>
</div>